.widgets {
  flex: 30%;
  display: flex;
  flex-direction: column;
  padding: 6px 30px;
}
.widgets__input {
  display: flex;
  align-items: center;
  padding: 8px;
  border: 1px solid lightgray;
  border-radius: 99px;
  background-color: #ebeef0;
  margin-bottom: 10px;
}
.widgets__input > input {
  flex: 1;
  border: none;
  outline: 0;
  background-color: transparent;
  font-size: 15px;
}
.widgets__input > .MuiSvgIcon-root {
  color: gray;
  font-size: 23px !important;
}
.widgets__info {
  background-color: #f7f9fa;
  border-radius: 20px;
}

.widgets__info--top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}
.widgets__info--top > .MuiSvgIcon-root {
  padding: 5px;
  color: #1da1f2;
}
.widgets__info--top > .MuiSvgIcon-root:hover {
  background-color: #e8f5fe;
  border-radius: 99px;
}
.widgetsInfo__text {
  margin: 15px 0px;
  color: #1da1f2;
}
